.App {
  display: flex;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  /* background-color: lightblue; */
}

.button-container {
  width: fit-content;
  margin-bottom: 10px;
}

.profileCard-container {
  width: fit-content;
  height: fit-content;
  margin: 20px;
}

