.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  /* background-color: lightblue; */
}

.button-container {
  width: fit-content;
  margin-bottom: 10px;
}

.profileCard-container {  
  width: fit-content;
  height: fit-content;
}